{% extends 'base.html' %}

{% block content %}
    <h1>External libraries</h1>

    <p>Propeller WebIDE is based on a whole set of open source libraries, improving stability and release times.</p>

    <h2>Server</h2>
    <ul>
        <li><a href="https://www.djangoproject.com/">Django</a></li>
    </ul>

    <h2>Browser</h2>
    <ul>
        <li><a href="https://ace.c9.io/#nav=about">Ace</a> code editor</li>
        <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
        <li><a href="https://jquery.com/">jQuery</a></li>
        <li><a href="https://github.com/chjj/term.js">term.js</a> serial terminal</li>
    </ul>

{% endblock %}
