{% extends 'base.html' %}

{% block content %}
    <h1>Propeller WebIDE</h1>

    <p>Introduction text</p>

    {% if user.is_authenticated %}
        <a href="{% url 'projects:create' %}">Create new project</a>

        <h2>Your latest projects</h2>
        <ul id="project-list">
            {% for project in projects %}
                <li><a href="{% url 'projects:project' project.user.username project.code %}">{{ project.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
